* { 
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(#00bfff, transparent  30%),
                     white;
  margin: 0 auto; 
  text-align: center;
  
}

/*****************
Search Field
******************/

.field{
  background-color: white;
  text-align:center;
  position: fixed;
  top: 0;
  z-index: 1;
  width:100%;
  height: 100px;
  border-bottom: 1px solid green;
}




input[type="text"] {
	
  
    width: 200px;
    height: 30px;
    font-size: 16px;
    background-color: white;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
 	
}

input {

   border: solid 3px;
   border-color: grey;
   transition: border-color .6s;
   transition-property: border-color, background-color, border-radius;

}

 input:hover {
  border-color: green;
  background-color: #f5deb3;
  border-radius: 20px;

 }

input:focus {
  outline: none;
}

.hidden {
    opacity: 0.4;
    transition: opacity .25s ease-in-out;
    pointer-events: none;
}


/****************
Gallery
******************/

.gallery {
	padding: 0;
  margin-top: 150px;
  margin-right: 40px;
		
}

.gallery ul {
	list-style: none;
  margin: 0 auto;


}

.gallery li {
	margin: 0 auto;
	 margin-bottom: 20px;

}

 img {
  border: 1px solid white;
  transition-property: box-shadow;
  transition-duration:  .4s;
  

}

img:hover {
  
  box-shadow: 0 0 15px rgba(0,0, 0, 5);
 

}


/***********************
Overlay
************************/

#overlay {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,0.80);
    display: none;
    z-index: 2;

  
}

#overlay img {
  width: 80%;
  border: 2px solid  white;
  margin-top: 20%;
}

#overlay p {
color: white;
width: 300px;
margin: 0 auto;
padding-top: 5px;


}

/********************
FOOTER
********************/

.copy{
  clear: both;
  font-weight: bold;
  color: black;
  font-size: .8em;
  margin-top: 30px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: orange;
}



#overlay #btnClose{
  position: absolute;
  top: 4%;
  right: 15%;
  font-size: 1em;
   background-color: rgba(0,0,0,0.0);
  color: white;
  border: none;
}

#overlay #btnPrev {

  position: absolute;
   float: left;
   top: 25%;
  left: 3%;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.0);
  color: grey;
  border: none;

}

#overlay #btnNext {

  position: absolute;
   float: right;
   top: 25%;
  right: 3%;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.0);
  color: white;
  border: none;

}











/***************************
Add Overlay buttons Hover
****************************/

#overlay #btnClose:hover{
  color: white;
}

#overlay #btnNext:hover{
  color: white;
}

#overlay #btnPrev:hover{
  color: white;
}

/****************************
Remove Overlay Buttons Outline
*****************************/

#overlay #btnNext:focus {
  outline:none;
}

#overlay #btnPrev:focus {
  outline:none;
}

#overlay #btnClose:focus {
  outline:none;
}



@media screen and (min-width: 500px) {

#overlay img {
  width: 80%;
  border: 2px solid  white;
  margin-top: 25%;
}



#overlay p {
color: white;
width: 300px;
margin: 0 auto;
padding-top: 5px;


}



#overlay #btnClose{
  position: absolute;
  top: 11%;
  right: 10%;
  font-size: 1.5em;
 /*  background-color: rgba(0,0,0,0.0);*/
  color: grey;
  border: none;
}

#overlay #btnPrev {

  position: absolute;
   float: left;
   top: 35%;
  left: 3%;
  font-size: 1.5em;
/*  background-color: rgba(0,0,0,0.0);*/
  color: grey;
  border: none;

}

#overlay #btnNext {

  position: absolute;
   float: right;
   top: 35%;
  right: 3%;
  font-size: 1.5em;
/*  background-color: rgba(0,0,0,0.0);*/
  color: grey;
  border: none;

}




}


@media screen and (min-width: 768px){



  


/**************************
Gallery
**************************/

.gallery {
  max-width: 100%;
}


.gallery ul {

  max-width: 980px
  margin: 0 auto;
}


.gallery ul li {
  float: left;
  width: 200px; /*(980-180) / 4 = 200*/
  margin-left: 60px;
    

}

input[type="text"] {
  
 
    width: 460px;
    height: 30px;
    font-size: 16px;
   
  
}

/*************************
Overlay
**************************/

#overlay p {
color: white;
width: 600px;
margin: 0 auto;
padding-top: 15px;

}

#overlay img {
  margin-top: 20%;
  border: 2px solid white;
  border-radius: 1%; 
  width: 60%;
  /*height: 450px;*/

}



#overlay #btnClose{
  position: absolute;
  top: 8%;
  right: 18%;
  font-size: 1.5em;
/*   background-color: rgba(0,0,0,0.0);*/
  color: grey;
  border: none;
}

#overlay #btnPrev {

  position: absolute;
   float: left;
   top: 45%;
  left: 12%;
  font-size: 2.8em;
  background-color: rgba(0,0,0,0.0);
  color: grey;
  border: none;

}

#overlay #btnNext {

  position: absolute;
   float: right;
   top: 45%;
  right: 12%;
  font-size: 2.8em;
 /* background-color: rgba(0,0,0,0.0);*/
  color: grey;
  border: none;

}

}






@media screen and (min-width: 1024px){



  


/**************************
Gallery
**************************/

.gallery {
  max-width: 100%;
}

.gallery ul {

  max-width: 980px
  margin: 0 auto;
}


.gallery ul li {
  float: left;
  width: 200px; /*(980-180) / 4 = 200*/
  margin-left: 60px;
    

}

input[type="text"] {
  
 
    width: 460px;
    height: 30px;
    font-size: 16px;
   
  
}

/*************************
Overlay
**************************/

#overlay p {
color: white;
width: 600px;
margin: 0 auto;
padding-top: 15px;

}

#overlay img {
  margin-top: 8%;
  border: 2px solid white;
  border-radius: 1%; 
  width: 60%;
  /*height: 450px;*/

}



#overlay #btnClose{
  position: absolute;
  top: 8%;
  right: 18%;
  font-size: 1.5em;
/*   background-color: rgba(0,0,0,0.0);*/
  color: grey;
  border: none;
}

#overlay #btnPrev {

  position: absolute;
   float: left;
   top: 40%;
  left: 12%;
  font-size: 2.8em;
  /*background-color: rgba(0,0,0,0.0);*/
  color: grey;
  border: none;

}

#overlay #btnNext {

  position: absolute;
   float: right;
   top: 40%;
  right: 12%;
  font-size: 2.8em;
/*  background-color: rgba(0,0,0,0.0);*/
  color: grey;
  border: none;

}

}

