/**********************************
SOCIAL
***********************************/

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  opacity: .5;
  transition: all .3s;
  float: left;

}

a.social:hover {
  opacity: 1;
}

ul {
  list-style: none;

}

.move {
 margin-right: 20px;

}

.social li {
  display: inline-block;
  position: relative;
  bottom: 71px;
}

.social a {
  text-decoration: none;

}




#overlay #btnClose{
  position: absolute;
  top: 8%;
  right: 18%;
  font-size: 1.5em;
  color: grey;
  border: none;
}

#overlay #btnPrev {

  position: absolute;
   float: left;
   top: 40%;
  left: 12%;
  font-size: 2.8em;
 
  color: grey;
  border: none;

}

#overlay #btnNext {

  position: absolute;
   float: right;
   top: 40%;
  right: 12%;
  font-size: 2.8em;
  color: grey;
  border: none;

}